body {
  background-color: #F2EFDE;
  /* background-color: white; */
  color: black;
}

.footer {
  position: absolute;
  bottom: 0;
  font-size: 80%;
  margin: auto;
  text-align: center;
}

.vert-center {
  position: absolute;
  top: 38%;
  margin: auto;
  text-align: center;
}

.dark-mode {
  background-color: black;
  color: white;
}

.custom-font {
  font-family: 'Source Code Pro', monospace;
  font-weight:normal;
  font-style:normal;
}

.main-font {
  font-family: 'Roboto Mono', monospace;
  font-weight:normal;
  font-style:normal;
}

.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}

.no-hover, .no-hover:hover, .no-hover:focus, .no-hover:active {
  text-decoration: none;
  color: inherit;
}

.social-links>a, .social-links>a:hover, .social-links>a:focus, .social-links>a:active {
  text-decoration: none;
  text-underline-offset: 5px;
  color: inherit;
}

/* ---------------------- */

.navbar-toggler {
  border: none;
  background: transparent !important;
}

.navbar-toggler:focus {
  outline: none;
  background: transparent !important;
}

.navbar-toggler .icon-bar {
  background-color: black;
  transform: rotate(0deg) translate(0px, 0px);
  transition: ease all .2s;
}

.navbar-toggler-dark .icon-bar-dark {
  background-color: white;
  transform: rotate(0deg) translate(0px, 0px);
  transition: ease all .2s;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggler .icon-bar+.icon-bar {
  margin-top: 4px;
}

.icon-bar:nth-child(2) {
  width: 16px;
  transition: ease all .2s;
}

.navbar-toggler:hover>.icon-bar:nth-child(2) {
  width: 22px;
  transition: ease all .2s;
}

.navbar-toggler:active>.icon-bar:nth-child(2) {
  width: 22px;
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 4px);
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
  opacity: 0;
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -4px);
  transition: ease all .2s;
}

.sec-accent {
  background-color: #fafcf5;
}

.blue {
  background-color: #9999cc;
}
